* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: Arial;
    background-color: #00cccc;
}

header {
    height: 10vh;
    /* background-color: lightgrey; */
    text-align: center;
    /* border: 2px solid black; */
}

nav {
    width: 10%;
    background-color: lightgray;
    border-radius: 1.5em;
    padding: 1em;
    margin-left: 1em;
    /* border: 2px solid black; */
}

nav h2 {
    margin-bottom: 0.5em;
}

nav ul {
    /* border: 2px solid black; */
}

nav ul li {
    list-style-type: none;
    margin: 0.5em;
}

nav ul li a {
    color: black;
    font-size: 1em;
    font-weight: bold;
    padding: .5em;
}

nav ul li a:hover {
    animation-name: menuHoverAnimation;
    animation-duration: .5s;
    color: black;
    font-size: 1em;
    font-weight: bold;
    background-color: #009999;
    border-radius: 1em;
    padding: .5em;
}

li a {
    color: black;
    text-decoration: none;
}

li img {
    margin: 1em;
}

main {
    position: relative;
    margin-bottom: 10em;
    /* min-height: calc(100vh - 70px); */
}

footer {
    /* border: 2px solid black; */
    background-color: lightgrey;
    color: black;
    /* text-align: center; */
    position: relative;
    height: 5vh;
    padding: 2vh;
}

footer h3 {
    margin-top: 1em;
}

footer p {
    text-align: center;
    height: 1vh;
}

#towary {
    text-align: center;
    width: 80%;
    position: relative;
    top: 5em;
    left: 10%;
    margin: 2px dashed orange;
    font-size: 1.5em;
}

#towary ul {
    display: inline-flex;
    list-style-type: none;
}

#towary ul li {
    list-style-type: none;
    display: block;
    border: 3px solid lightgrey;
    width: fit-content;
    border-radius: 25px;
    margin: 3em;
    padding: .5em;
    text-align: center;
    background-color: lightgray;
    background: linear-gradient(-0.65turn, #00cccc, #0099A9);
}

#towary ul li img {
    padding: auto;
}

#phpContent {
    margin-left: 5em;
}

#kontakt {
    position: relative;
    top: 10em;
    text-align: center;
}

#kontakt h1 {
    font-size: 4em;
}

#kontakt p {
    font-size: 2em;
}

#kontakt img {
    width: 1000px;
    height: 600px;
    margin-bottom: 6em;
    background-color: transparent;
}

#opinie {
    text-align: center;
}

#opinie h3 {
    font-size: 3em;
    margin: 1em;
}

#opinie ul {
    text-align: center;
    list-style-type: none;
}

#opinie ul li {
    background-color: lightgray;
    font-size: 2em;
    border: 3px solid #008888;
    border-radius: 25px;
    width: 25%;
    margin: auto;
    padding: .5em;
    font-weight: bold;
}

#zgloszenieForm {
    text-align: center;
    position: relative;
    margin: auto;
    display: inline;
    font-weight: bold;
    width: 50%;
}

#zgloszenieForm p {
    margin-bottom: .5em;
}

#zgloszenieForm input {
    text-align: center;
    margin: auto;
    position: relative;
    font-weight: bold;
    font-size: 1em;
    color: white;
    padding: .5em;
    margin-bottom: 2em;
    background-color: #0099A9;
    height: 3em;
    border-radius: 20px;
    border: 2px solid black;
}

#zgloszenie input {
    height: 10em;
    width: 30%;
    text-align: left;
    padding: auto;
}

#zgloszenieTresc {
    text-align: start;
    font-family: Arial;
    margin: auto;
    position: relative;
    font-weight: bold;
    font-size: 1em;
    color: white;
    padding: .3em;
    margin-bottom: 2em;
    background-color: #0099A9;
    height: 15em;
    border-radius: 20px;
    border: 2px solid black;
}

#tryby {
    width: 30%;
    position: relative;
    left: 35%;
}

#tryby p {
    font-weight: bold;
    margin: 1em;
}

.tryb {
    display: inline-flex;
    padding: auto;
    margin: -1em;
}

.tryb input {
    display: flex;
}

.zgloszenieInfo {
    text-align: center;
}

.centerVertically {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.liHeader {
    font-weight: bold;
}

@media print {
    header {
        visibility: hidden;
    }
    footer {
        visibility: hidden;
    }
    nav {
        visibility: hidden;
    }
}

@keyframes menuHoverAnimation {
    from {
        color: black;
        font-size: 1em;
        font-weight: bold;
        padding: .5em;
    }
    to {
        color: black;
        font-size: 1em;
        font-weight: bold;
        background-color: #009999;
        border-radius: 1em;
        padding: .5em;
    }
}